@using Microsoft.AspNetCore.Identity
@inject NavigationManager Nav

<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/Logout" class="d-inline">
            <button type="submit" class="btn btn-link nav-link p-0">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="Identity/Account/Login">Login</a>
        <a class="nav-link" href="Identity/Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>
